@model IEnumerable<ScamBet.Entities.Match>

@{
    ViewData["Title"] = "Match List";
}

<h1>Match List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.match_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tr_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => match.match_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => match.tr_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => match.time)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@match.match_ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@match.match_ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@match.match_ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
