@model ScamBet.Entities.Account

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <dd class="col-sm-10">
        @if (Model.AvatarPath != null)
        {
            <img src="@Model.AvatarPath" alt="Avatar" class="img-thumbnail" width="150" height="150" />
        }
        else
        {
            <p>No avatar uploaded</p>
        }
    </dd>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Username
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.username)
        </dd>
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            Surname
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.surname)
        </dd>
        <dt class = "col-sm-2">
            Password
        </dt>
        <dd class = "col-sm-10">
            *******
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            Phone number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone_number)
        </dd>
        <dt class = "col-sm-2">
            Is Banned?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isBanned)
        </dd>
        <dt class="col-sm-2">
            Account 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.acc_balance)
        </dd>
        <dt class="col-sm-2">
            Role
        </dt>
        <dd class="col-sm-10">
            @if (Model.role_ID == 1)
            {
                <text>User</text>
            }
            else if (Model.role_ID == 2)
            {
                <text>Admin</text>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.user_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
