@model IEnumerable<ScamBet.Entities.Account>

@{
    ViewData["Title"] = "Account List";
}

<h1>Account List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Password
            </th>
            <th>
                Email
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Account Balance
            </th>
            <th>
                Role
            </th>
            <th>
                IsBanned
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    var rowClass = item.isBanned ? "table-danger" : "";
        <tr class="@rowClass">
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                *******
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone_number)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.acc_balance)
            </th>
                <th>
                    @if (item.role_ID == 1)
                    {
                        <text>User</text>
                    }
                    else if (item.role_ID == 2)
                    {
                        <text>Admin</text>
                    }
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.isBanned)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.user_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.user_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.user_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
