@model ScamBet.Entities.Account

<h1>My Account</h1>

<div>
    <hr />
</div>

<div>
    <div class="row">
        <div class="col-sm-2">
            @if (Model.AvatarPath != null)
            {
                <img src="@Model.AvatarPath" alt="Avatar" class="img-thumbnail" width="150" height="150" />
            }
            else
            {
                <p>No avatar uploaded</p>
            }
        </div>
        <div class="col-sm-10">
            <dl class="row">
                <dt class="col-sm-2">
                    Username
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.username)
                </dd>
                <dt class="col-sm-2">
                    Name
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.name)
                </dd>
                <dt class="col-sm-2">
                    Surname
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.surname)
                </dd>
                <dt class="col-sm-2">
                    Password
                </dt>
                <dd class="col-sm-10">
                    *******
                </dd>
                <dt class="col-sm-2">
                    Email
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.email)
                </dd>
                <dt class="col-sm-2">
                    Phone number
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.phone_number)
                </dd>
                <dt class="col-sm-2">
                    Account balance
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.acc_balance)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <a asp-controller="Account" asp-action="EditProfile">Edit Profile</a> |
    <a asp-controller="Home" asp-action="UserIndex">Back to Menu</a>
</div>
