@model ScamBet.Entities.Team

<h2>Team Details</h2>

<div>
    <h4>Team ID: @Model.team_ID</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.name
        </dd>
        <dt class="col-sm-2">
            Wins
        </dt>
        <dd class="col-sm-10">
            @Model.wins
        </dd>
        <dt class="col-sm-2">
            Draws
        </dt>
        <dd class="col-sm-10">
            @Model.draws
        </dd>
        <dt class="col-sm-2">
            Loses
        </dt>
        <dd class="col-sm-10">
            @Model.loses
        </dd>
        <dt class="col-sm-2">
            Points
        </dt>
        <dd class="col-sm-10">
            @Model.points
        </dd>
    </dl>
    <p>
        <a asp-action="Edit" asp-route-id="@Model.team_ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </p>
</div>
