@model IEnumerable<ScamBet.Entities.Team>

<h2>Teams</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Wins</th>
            <th>Draws</th>
            <th>Loses</th>
            <th>Points</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>@team.team_ID</td>
                <td>@team.name</td>
                <td>@team.wins</td>
                <td>@team.draws</td>
                <td>@team.loses</td>
                <td>@team.points</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@team.team_ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@team.team_ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@team.team_ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
