@model ScamBet.Entitties.Roulette

@{
    ViewData["Title"] = "Roulette Details";
}

<h1>Roulette Details</h1>

<div>
    <h4>Roulette</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rouletteID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rouletteID)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.balance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.time)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.rouletteID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
