@model IEnumerable<ScamBet.Entitties.Team_results>

<h1>TeamResults List</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>trID</th>
            <th>TeamID</th>
            <th>Winner</th>
            <th>Goals</th>
            <th>Fouls</th>
            <th>Red Cards</th>
            <th>Yellow Cards</th>
            <th>Shots</th>
            <th>Shots on Target</th>
            <th>Corners</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.trID</td>
                <td>@item.TeamID</td>
                <td>@(item.winner ? "Yes" : "No")</td>
                <td>@item.goals</td>
                <td>@item.fouls</td>
                <td>@item.red_cards</td>
                <td>@item.yellow_cards</td>
                <td>@item.shots</td>
                <td>@item.shots_ontarget</td>
                <td>@item.corners</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.trID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.trID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.trID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
